.red {
  color: red;
}
.red[aria-selected='true'] {
  border-color: red;
}

.orange {
  color: orange;
}
.orange[aria-selected='true'] {
  border-bottom-color: orange;
}

.yellow {
  color: yellow;
}
.yellow[aria-selected='true'] {
  border-bottom-color: yellow;
}

.commandpanel[aria-selected='true'] {
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #656a7633;
}