/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0A76FD;
  --ifm-color-primary-dark: #0A76FD;
  --ifm-color-primary-darker: #0A76FD;
  --ifm-color-primary-darkest: #0A76FD;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-info-contrast-background: white;
  --ifm-alert-border-color: #0A76FD;
  --ifm-alert-border-color--info: #0A76FD;
  --ifm-color-info-dark: #0A76FD;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-footer-background-color: #ffffff;
  --ifm-alert-foreground-color: #000000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1e618f;
  --ifm-color-primary-dark: #1e618f;
  --ifm-color-primary-darker: #1e618f;
  --ifm-color-primary-darkest: #1e618f;
  --ifm-color-primary-light: #1e618f;
  --ifm-color-primary-lighter: #1e618f;
  --ifm-color-primary-lightest: #1e618f;
    --ifm-footer-background-color: dark;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  border-top: 1px solid var(--ifm-color-emphasis-300);
  padding-top: 2px;
  padding: 0px;
}

.footer_container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

.footer__in {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column;
    display: flex;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid var(--ifm-color-emphasis-300);
}

.footer__row__header {
      justify-content: space-between;
    display: flex;
}

.footer__item {
  grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    display: flex;
}

.footer__links {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.socials {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    flex-flow: column;
    display: flex;
}

.socials__link.socials__link--linkedin {
    background-image: url(https://cdn.prod.website-files.com/692484d36106c47ef078ded6/692484d36106c47ef078df63_linkedin.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.commandpanel {
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #656a7633;
  margin: 24px 0 32px;
}

.cards-grid-list {
  display: grid;
  list-style: none;
  gap: 24px 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding-left: 0px;
}

.workshop-card {
  box-shadow: 0 0 0 1px #656a7626,0px 2px 3px 0px #656a761a,0px 8px 16px -10px #656a7633;
  padding: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.workshop-card:hover {
  box-shadow: 0 0 0 1px #0A76FD,0px 4px 6px 0px #1e618f33,0px 12px 24px -10px #1e618f4d;
}

.card-link-anchor{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  box-sizing: border-box;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.card-link-anchor:hover{
  text-decoration: none;
}

.workshop-card-logo {
  height: 32px;
  margin-bottom: 8px;
  /* margin-top: 16px; */
  display: flex;
  align-items: center;
}

.workshop-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1rem;
}
/* 
a:hover {
  color: white;
} */

.workshop-card-logo-image {
  object-fit: contain;
  object-position: left center;
  width: 100%; 
  margin-right: 8px;
  height: 100%;
}

.workshops {
  display: flex;
  flex-direction: column;
  gap: 48px;
  grid-column-end: span 12;
}

.homecontent {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 80px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.jumpsection {
  grid-column-end: span 3;
}

.logo-image {
  margin-right: 8px;
  height: 32px;
}

.workshop-card-header {
  font-weight: 700;
}

p {
  font-size: 16px;
}

li {
  font-size: 16px;
}

.sidebar-header {
  font-size: 16px;
  color:#0A76FD
}

.menu__link--active {
  font-weight: bold;
  color:#0A76FD
}

.menu__link--active:hover {
  font-weight: bold;
  color:#0A76FD
}

.pagination-nav__label{
  color: #0A76FD;
}

.pagination-nav__link:hover{
  border-color: black;
}

.table-of-contents__link--active {
  color:#0A76FD
}

.sl-embed{
  position:relative;
  padding-bottom:calc(62.50% + 25px);
  width:100%;
  height:0;
  transform:scale(1)
}

.sl-demo {
  position:absolute;
  top:0;
  left:0;
  width:100%!important;
  height:100%!important;
  border:1px solid rgba(63,95,172,0.35);
  box-shadow: 0px 0px 18px rgba(26, 19, 72, 0.15);
  border-radius:10px;
  box-sizing:border-box;
}

h1 {
  font-size: 2rem;
}

.hero__title {
  text-align: left;
  color: black;
}

.hero__subtitle {
  text-align: left;
  color: black;
}

.navbar.navbar--fixed-top {
  height: 80px;
}
.navbar__logo {
  height: 1.75rem;
}

.menu__list .menu__list {
  padding-left: 0px;
}

.menu__link sidebar-header menu__link--active {
  text-decoration: none;
}

table th, table td {
  border: none;
}

.dropdown__menu {
  min-width: 350px;
}

.dropdown__link {
  height: 3rem;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.menu__link.sidebar-header.menu__link--active {
  font-weight: bold
}

.demoJourney {
  padding-top: 3rem;
  padding-bottom: 9rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

.demoJourneyCard {
    background-image: url(https://cdn.prod.website-files.com/692484d…/692484d…_bg.webp), linear-gradient(314deg, #6af, #0a76fd 91%);
    background-position: 100%, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: contain, auto;
    border-radius: 3rem;
    padding: 4.5rem;
}

.demoJourneyBody {
      grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.demoFiltersGroup {
  margin-bottom: 3rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  display: flex;
}

.demoFilters {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.demoFilterItem {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    display: flex;
    font-family: Archivo, sans-serif;
}
.demoFilterItemTitle {
    font-size: 1rem;
    font-weight: 500;
}

.select__control{
  background-color: #070d1808!important;
}

.select__multi-value{
  background-color: #0A76FD!important;
  color: white!important;
  font-weight: bold;
}
.select__multi-value__label{
  color: white!important;
  font-weight: bold;
}

.badge {
  background-color: lightgray;
  color: black;
  height: 2rem;
  margin-top: 1rem;
  padding: 4px 8px;
  border-radius: 5px; /* Makes corners slightly rounded */
  display: flex;
  align-items: center;
  width: fit-content;
}

.subheader-text {
  font-size: 18px;
}

.coming-soon-badge {
  background-color: lightgray;
  color: black;
  height: 2rem;
  margin-top: 1rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px; /* Makes corners slightly rounded */
  display: flex;
  align-items: center;
  width: fit-content;
}


strong {
  color: #000000;
}